body {
	width: 100vw;
	height: 100vh;
	display: block;
}
img:hover{
	cursor: pointer;
	opacity: 0.6;
}
.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}
.restrict-img-size {
	max-height: 99%;
	max-width: 99%;
}
.blue{
	display: flex;
	height: calc(100%/3);
	width: 100%;
}
.red{
	display: flex;
	height: calc(100%/5);
	width: 100vw;
}
.black{
	display: flex;
	height: calc(100%/3.7);
	width: 100%;
}
.yellow{
	display: flex;
	height: calc(100vh/3);
	width: 25vw;
	background:  url('images/bohem.png');
}
.brown{
	display: flex;
	height: 100%;
	width: calc(25vw/2);
	background:  url('images/purple4.png');
}
.purple{
	display: flex;
	height: calc(100vh/5);
	width: calc(100vw/17);
	background:  url('images/purpleorange.png');
}
.green{
	display: flex;
	height: calc(100vh/5);
	width: calc(100vw/17);
	background-color:  #3355FF;
	background:  url('images/green.png');
}
.a{
	display: flex;
	height: 100%;
	width: 100%;
	background:  url('images/orange.png');
}
